/WebsiteApi/obj
/WebsiteApi/bin
/.vs/WebsiteApi/v15/Server/sqlite3
/.vs/WebsiteApi/v15/.suo

/.vs/config/applicationhost.config
/WebsiteApi/WebsiteApi.csproj.user
/ConfigSettings/bin/Debug/netcoreapp2.2
/ConfigSettings/obj
/Database/bin/Debug/netcoreapp2.2
/Database/obj
/Exceptions/bin/Debug/netcoreapp2.2
/Exceptions/obj
/HelperClasses/bin/Debug/netcoreapp2.2
/HelperClasses/obj
/Interfaces/bin/Debug/netcoreapp2.2
/Interfaces/obj/Debug/netcoreapp2.2
/Interfaces/obj
/Models/bin/Debug/netcoreapp2.2
/Models/obj
/Models.Entities/bin/Debug/netcoreapp2.2
/Models.Entities/obj
/Services/bin/Debug/netcoreapp2.2
/Services/obj
/WebsiteApi/Properties/PublishProfiles
/.vs/DatabaseEntities/v15/Server/sqlite3
/.vs/DatabaseEntities/v15/.suo
/WebsiteApi/WebsiteApi.csproj.user
/WebsiteApplication/bin/Debug/netcoreapp2.2
/WebsiteApplication/ClientApp/node_modules
/WebsiteApplication/obj
/WebsiteApplication/ClientApp/.vscode
/.vs/AngularAPIBoilerplate/v15/Server/sqlite3
/.vs/AngularAPIBoilerplate/v15/.suo
/.vscode
/WebServer/obj
bin
/WebsiteApplication/Properties/PublishProfiles
/WebsiteApplication/WebsiteApplication.csproj.user

dist